*.pyc
wandb/
data_check.py
data_process.py
datalist.json
test.ipynb
*.json
jinliang_ref/
*.out
experiments/
.sh
log/
# data/
dataset/
*.json
pretrained_model/
*.egg-info/
*.mp4
*.hd5
*.npz
*.png
*.jpg
*.jpeg
*.TXT
*.h5